* {box-sizing:border-box; -webkit-box-sizing:border-box;}

html {height: 100%;}

/* FUENTES */
@font-face {
  font-family: 'gotham_bold';
  /*src: url('gotham_rounded/GothamRnd-Bold.otf');*/
  src: url('gotham_rounded/GothamRounded-Bold.eot');
  src: url('gotham_rounded/GothamRounded-Bold.woff2') format('woff2'),
       url('gotham_rounded/GothamRounded-Bold.woff') format('woff'),
       url('gotham_rounded/GothamRounded-Bold.ttf') format('truetype'),
       url('gotham_rounded/GothamRounded-Bold.svg#GothamRounded-Bold') format('svg'),
       url('gotham_rounded/GothamRounded-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'gotham_book';
    /*src: url('gotham_rounded/GothamRnd-Book.otf');*/
    src: url('gotham_rounded/GothamRounded-Book.eot');
    src: url('gotham_rounded/GothamRounded-Book.woff2') format('woff2'),
       url('gotham_rounded/GothamRounded-Book.woff') format('woff'),
       url('gotham_rounded/GothamRounded-Book.ttf') format('truetype'),
       url('gotham_rounded/GothamRounded-Book.svg#GothamRounded-Book') format('svg'),
       url('gotham_rounded/GothamRounded-Book.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gotham_light';
    /*src: url('gotham_rounded/GothamRnd-Light.otf');*/
    src: url('gotham_rounded/GothamRounded-Light.eot');
    src: url('gotham_rounded/GothamRounded-Light.woff2') format('woff2'),
       url('gotham_rounded/GothamRounded-Light.woff') format('woff'),
       url('gotham_rounded/GothamRounded-Light.ttf') format('truetype'),
       url('gotham_rounded/GothamRounded-Light.svg#GothamRounded-Light') format('svg'),
       url('gotham_rounded/GothamRounded-Light.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gotham_medium';
    /*src: url('gotham_rounded/GothamRnd-Medium.otf');*/
    src: url('gotham_rounded/GothamRounded-Medium.eot');
    src: url('gotham_rounded/GothamRounded-Medium.woff2') format('woff2'),
       url('gotham_rounded/GothamRounded-Medium.woff') format('woff'),
       url('gotham_rounded/GothamRounded-Medium.ttf') format('truetype'),
       url('gotham_rounded/GothamRounded-Medium.svg#GothamRounded-Medium') format('svg'),
       url('gotham_rounded/GothamRounded-Medium.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HandOfSeanDemo';
    src: url('sean/HandOfSeanDemo.woff') format('woff'),
       url('sean/HandOfSeanDemo.ttf') format('truetype'),
       url('sean/HandOfSeanDemo.svg#HandOfSeanDemo') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hand_Of_Sean_Demo';
    src: url('sean/Hand_Of_Sean_Demo.eot');
    src: url('sean/Hand_Of_Sean_Demo.woff2') format('woff2'),
       url('sean/Hand_Of_Sean_Demo.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

/* RESET */

body {
	background-color:#FFF;
	text-align: center;
	font-family: 'gotham_book';
	/*-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;*/
}

a, aside, form, label, table, ol, ul, li {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	text-decoration: none;
	list-style:none;
}

:focus {outline: none;}
a:focus {outline: none;}

/* COLORES */
.rojo {color: #e11f26;}
.bg-rojo {background-color: #e11f26;}

.verde {color: #80c042;}
.bg-verde {background-color: #80c042;}

.bg-voscuro {background-color: #185532;}

.naranja {color: #ff8200;}
.bg-naranja {background-color: #ff8200;}

.celeste {color: #0097ff;}
.bg-celeste {background-color: #0097ff;}

.amarillo {color: #ffca33;}
.bg-amarillo {background-color: #ffca33;}

/* ELEMENTS */
.wrapper {width: 950px; height: 640px; margin: 0 auto; padding: 15px 0; position: relative; overflow: hidden;}

.tarjeta, .tarjeta-sans, .cardBlock{
	display:inline-block; 
	vertical-align:top;
	width: 100%;
	padding: 8px;
	overflow:hidden;
    border-radius: 10px;
}

.tarjeta {
    -webkit-box-shadow: 0 12px 16px rgba(0,0,0,0.2), 0 -2px 12px rgba(0,0,0,0.1);
    box-shadow: 0 12px 16px rgba(0,0,0,0.2), 0 -2px 12px rgba(0,0,0,0.1);
}

.tarjeta-sans, .cardBlock {
	padding: 0;
}

.sombra {
	position: absolute;
    width: 96%;
    left: 2%;
    height: 496px;
    border-radius: 10px;
    z-index: -1;
    box-shadow: 0 12px 24px rgba(0,0,0,0.3);
}

.paddless {padding: 0;}

.btn-primary {
	background-color: #e11f26;
    border-radius: 0;
    border: none;
    font-size: 18px;
    text-transform: uppercase;
    padding: 1rem 2em;
    border-radius: 8px;
    transition: all ease-in-out 0.3s;
    font-family: 'gotham_medium';
}

.btn-primary.focus, .btn-primary:focus, .btn-primary.hover, .btn-primary:hover {background-color: #80c042;}

/* INDEX */
.intro01 {background: url(../img/bg01.png) no-repeat center; background-size: cover; height: 100%;}
.main-title {color: #FFF; font-size: 4em; text-align: left; background: url(../img/hojas01.png) center right no-repeat; width: 50%; margin: 24% 25% 5%; font-family: 'gotham_light';}
.main-title span {font-family: 'gotham_bold';}
.intro01 .btn img {padding: 0 0 0 8px; margin-top: -2px;}
.intro01 .creditos {position: absolute; bottom: 3em; right: 1em;}

/* INTERNAS */
/* MENU */
.menu-principal, .menu-secundario {display: inline-block; vertical-align: top; width: 100%;}
.menu-principal li, .menu-secundario li {display: inline-block; vertical-align: top;}
.menu-principal li:first-child {text-align: left;}
.menu-principal li:last-child {text-align: right;}
.menu-principal a {color: #5d5d5d; text-transform: uppercase; font-family: 'gotham_bold'; display: inline-block; vertical-align: top; padding-top: 8px; padding-bottom: 8px; transition: all ease-in-out 0.3s;}
.menu-principal a:hover {color: #e11f26;}

.menu-secundario {background: #eaeaea; width: 100%; margin-bottom: 16px; padding: 4px; border-radius: 4px;}
.menu-secundario a {font-family: 'gotham_bold'; color: rgba(93, 93, 93, .6); display: inline-block;vertical-align: top; padding-top: 7px; padding-bottom: 7px; width: 100%; transition: all ease-in-out 0.3s;}
.menu-secundario a:hover {text-decoration: none; /*color: #5d5d5d;*/ color: #FFF;}
.logo01 {margin: 0 auto;}
#intro .intro-activo {color: #e11f26; text-decoration: none; background: url(../img/tri-gris.png) no-repeat center bottom;}
#ali .alicorp-activo {color: #e11f26; text-decoration: none; background: url(../img/tri-gris.png) no-repeat center bottom;}

.bienvenida .bienvenida-activo {background: #e11f26; color: #FFF; border-bottom-left-radius: 4px; border-top-left-radius: 4px;}
.bienvenida .modulos-sig {background: url(../img/tri-rojo.png) no-repeat center left;}
.modulos .modulos-activo {background: #e11f26; color: #FFF;}
.modulos .bienvenida-ant {background: #e11f26; color: rgba(255, 255, 255, .7); border-bottom-left-radius: 4px; border-top-left-radius: 4px;}
.modulos .ceo-sig {background: url(../img/tri-rojo.png) no-repeat center left;}
.ceo .ceo-activo {background: #e11f26; color: #FFF; border-bottom-right-radius: 4px; border-top-right-radius: 4px;}
.ceo .bienvenida-ant {background: #e11f26; color: rgba(255, 255, 255, .7); border-bottom-left-radius: 4px; border-top-left-radius: 4px;}
.ceo .modulos-ant {background: #e11f26; color: rgba(255, 255, 255, .7);}

.menu-secundario .impar {display: inline-block; vertical-align: top; font-size: 13px;}
.menu-secundario .impar a {padding-left: 22px; padding-right: 6px;}
.quienes .quienes-activo {background: #e11f26; color: #FFF; border-bottom-left-radius: 4px; border-top-left-radius: 4px;}
.quienes .historia-sig {background: url(../img/tri-rojo.png) no-repeat center left;}
.historia .historia-activo {background: #e11f26; color: #FFF;}
.historia .quienes-ant {background: #e11f26; color: rgba(255, 255, 255, .7); border-bottom-left-radius: 4px; border-top-left-radius: 4px;}
.historia .cultura-sig {background: url(../img/tri-rojo.png) no-repeat center left;}
.cultura .cultura-activo {background: #e11f26; color: #FFF;}
.cultura .quienes-ant {background: #e11f26; color: rgba(255, 255, 255, .7); border-bottom-left-radius: 4px; border-top-left-radius: 4px;}
.cultura .historia-ant {background: #e11f26; color: rgba(255, 255, 255, .7);}
.cultura .areas-sig {background: url(../img/tri-rojo.png) no-repeat center left;}
.areas .areas-activo {background: #e11f26; color: #FFF;}
.areas .quienes-ant {background: #e11f26; color: rgba(255, 255, 255, .7); border-bottom-left-radius: 4px; border-top-left-radius: 4px;}
.areas .historia-ant, .areas .cultura-ant {background: #e11f26; color: rgba(255, 255, 255, .7);}
.areas .marcas-sig {background: url(../img/tri-rojo.png) no-repeat center left;}
.marcas .marcas-activo {background: #e11f26; color: #FFF;}
.marcas .quienes-ant {background: #e11f26; color: rgba(255, 255, 255, .7); border-bottom-left-radius: 4px; border-top-left-radius: 4px;}
.marcas .historia-ant, .marcas .cultura-ant, .marcas .areas-ant {background: #e11f26; color: rgba(255, 255, 255, .7);}
.marcas .recon-sig {background: url(../img/tri-rojo.png) no-repeat center left;}
.recon .recon-activo {background: #e11f26; color: #FFF;}
.recon .quienes-ant {background: #e11f26; color: rgba(255, 255, 255, .7); border-bottom-left-radius: 4px; border-top-left-radius: 4px;}
.recon .historia-ant, .recon .cultura-ant, .recon .areas-ant, .recon .marcas-ant {background: #e11f26; color: rgba(255, 255, 255, .7);}
.recon .autoeval-sig {background: url(../img/tri-rojo.png) no-repeat center left;}
.autoeval .autoeval-activo {background: #e11f26; color: #FFF; border-bottom-right-radius: 4px; border-top-right-radius: 4px;}
.autoeval .quienes-ant {background: #e11f26; color: rgba(255, 255, 255, .7); border-bottom-left-radius: 4px; border-top-left-radius: 4px;}
.autoeval .historia-ant, .autoeval .cultura-ant, .autoeval .areas-ant, .autoeval .marcas-ant, .autoeval .recon-ant {background: #e11f26; color: rgba(255, 255, 255, .7);}

/* FOOTER */
footer {
	position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 100;
}
.programa, .creditos {
	color: #5d5d5d;
    display: inline-block;
    vertical-align: top;
    font-size: 10px;
    width: 100%;
}
.programa {font-family: 'gotham_medium'; text-transform: uppercase; text-align: left;}
.creditos {text-align: right; font-size: 8px;}
footer a { z-index: 10; display: inline-block; width: 18%; position: absolute; bottom: -12px;}
footer .anterior {left: 32%;}
footer .siguiente {right: 32%;}

/* INTRODUCCION */
.intro02 {background: url(../img/bg02.png) no-repeat center; background-size: cover; height: 496px; padding: 4em 0;}
.intro02 p {color: #FFF; font-size: 2em; padding-top: 1em; font-family: 'gotham_bold';}
.intro02 .logo02 {margin: 0 auto;}
.intro02 .seandemo {font-family: 'HandOfSeanDemo'; font-size: 3em; padding-top: 12px;}

.intro03 {background: url(../img/bg03.png) no-repeat center; background-size: cover; height: 496px; padding: 4em 3em;}
.intro03 .main-title {font-size: 4.5em; text-align: center; background: none; width: 80%; margin: 4% 10%; font-family: 'gotham_light';}
.intro03 .hoja {background-color: #e11f26; width: 100%; border-top-right-radius: 24px; border-bottom-left-radius: 24px; color: #FFF; padding: 24px 16px 34px; position: relative; margin-top: 2em;}
.intro03 .icon {position: absolute; top: -3em; left: 0; width: 100%;}
.intro03 .icon img {background: #FFF; border-radius: 50%; border: #e11f26 5px solid;}
.intro03 h3 {font-family: 'gotham_bold'; text-transform: uppercase; font-size: 1.1em;}
.intro03 p {min-height: 40px;}

.intro04 {background: #FFF; height: 496px; padding: 0 3em;}
.intro04 video {display: inline-block; vertical-align: top; margin-top: -2em;}

/* MODULO 1 */
.bg-mod01 {background: url(../img/bg04.png) no-repeat center; background-size: cover; height: 496px; padding: 11em 0;}
.bg-historia:before,
.bg-cultura:before,
.bg-areas:before,
.bg-marcas:before,
.bg-reconocimiento:before,
.bg-autoevaluacion:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
}
.bg-historia {background-image: url(../img/secciones/historia.jpg); position: relative;}
.bg-cultura {background-image: url(../img/secciones/cultura.jpg); position: relative;}
.bg-areas {background-image: url(../img/secciones/areas.jpg); position: relative;}
.bg-marcas {background-image: url(../img/secciones/marcas.jpg); position: relative;}
.bg-reconocimiento {background-image: url(../img/secciones/reconocimiento.jpg); position: relative;}
.bg-autoevaluacion {background-image: url(../img/secciones/autoevaluacion.jpg); position: relative;}
.bg-mod01 .hoja {
    background-color: #ff8200;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
    color: #FFF;
    padding: 6px 12px;
    text-transform: uppercase;
    font-family: 'gotham_bold';
    font-size: 1.4em;
    float: left;
}
.bg-mod01 .main-title {
    font-size: 3.4em;
    text-align: center;
    background: none;
    width: 100%;
    margin: 16px 0;
    font-family: 'gotham_light';
}

/* QUIENES SOMOS */
.quienes .sombra {padding: 24px 6px; z-index: 1;}
.bordes {border-radius: 10px; overflow: hidden; margin-bottom: 16px;}
.quienes .bg-verde {
    color: #FFF;
    font-size: 1.7em;
    padding: 8px 0;
    margin: 0 16px;
    border-radius: 10px;
}
.logo-alicorp {
    position: absolute;
    top: 10em;
    left: 50%;
    margin-left: -140px;
    background: #FFF;
    border-radius: 10px;
}

/* HISTORIA */
.historia .sombra {padding: 24px 6px;}
.historia .tarjeta-sans {
    background: #FFF;
    width: 99%;
    margin-left: 0.5%;
    height: 496px;
    border-radius: 10px;
    box-shadow: 0 0px 2px rgba(0,0,0,0.1);
    padding-top: 8px;
    padding-left: 30px;
    padding-right: 30px;
}
.historia .marco {
    overflow: hidden;
    border-radius: 10px;
    -webkit-box-shadow: 0 12px 16px rgba(0,0,0,0.2), 0 -2px 12px rgba(0,0,0,0.1);
    box-shadow: 0 12px 16px rgba(0,0,0,0.2), 0 -2px 12px rgba(0,0,0,0.1);
}
.title {
    color: #5d5d5d;
    font-family: 'gotham_medium';
    background: url(../img/bullet.png) no-repeat left center;
    text-align: left;
    font-size: 1.4em;
    padding: 16px;
    padding-left: 44px;
    margin-top: 8px;
}
.title span {font-family: 'gotham_light'; font-size: 14px;}

.year {font-family: 'gotham_bold'; font-size: 2.5em;}
.historia .title {margin:0; padding-top:8px; padding-bottom:0;}
.horizontal {margin-bottom: 16px;}
.horizontal .year {font-size: 2em;}
.historia h4 {font-family: 'gotham_bold'; font-size: 13px; text-transform: uppercase; color: #5d5d5d;     margin-top: 6px;}
.historia p {font-size: 12px; color: #5d5d5d;}
.historia .img-responsive {margin: 0 auto;}
.img-frame, .texto-frame {display: inline-block; vertical-align: top; width:130px;}
.texto-frame {text-align: left;}
.manitos {display: inline-block; cursor: pointer;}
.manos {cursor: pointer;}

.anchoa {width: 294px;}
.anchoa .tarjeta {height: 378px; padding-top: 36px;}
.anchoa .texto-frame {width: 100%;}
.anchob {width: 504px;}
.anchob .texto-frame {width: 350px;}
.anchoc {width: 328px;}
.anchoc .tarjeta:last-child {padding-top: 25px; padding-bottom: 25px;}
.anchoc .texto-frame {width: 176px;}
.anchod {width: 384px;}
.anchod .texto-frame {width: 232px;}
.anchoe {width: 438px;}
.anchoe .texto-frame {width: 286px;}

.historia .tarjeta-sans {margin-left:8px; margin-right:8px;}
.espacio {padding-left: 20px; padding-right: 20px;}
.datos {text-align: left; padding-left: 3em; text-transform: uppercase; font-family: 'gotham_bold'; margin-top: 2em; margin-top: 38px;}
.info {display: inline-block; vertical-align: top; text-align: right; font-size: 10px; color: rgba(93, 93, 93, .5); width: 100%;}

/* CULTURA */
.cultura .sombra {padding: 24px 6px;}
.cultura .tarjeta-sans {
    background: #FFF;
    width: 99%;
    margin-left: 0.5%;
    height: 496px;
    border-radius: 10px;
    box-shadow: 0 0px 2px rgba(0,0,0,0.1);
    padding-top: 20px;
}
.cultura .lista-valores {padding-top: 24px;}
.cultura .valor {display: inline-block; vertical-align: top; width: 100%; margin: 6px 0; cursor: pointer;}
.cultura .valor img {transition: all ease-in-out 0.5s;}
.cultura .valor:focus, .cultura .valor:hover {text-decoration: none;}
.cultura .valor:hover img {-webkit-transform: rotateY(360deg); transform: rotateY(360deg);}
.cultura .valor h5 {text-transform: uppercase; font-family: 'gotham_bold'; font-size: 10px;}
.cultura .v-uno {color: #eb2230;}
.cultura .v-dos {color: #dc0d16;}
.cultura .v-tres {color: #1b5734;}
.cultura .v-cuatro {color: #f19b21;}
.cultura .v-cinco {color: #86bd41;}
.cultura .img-responsive {margin: 0 auto;}
.cultura .texto-valores {
    position: absolute;
    top: 0;
    padding: 84px 100px 0;
    color: #f9f0d6;
    font-size: 12px;
}
.texto-valores h4 {
    font-family: 'gotham_bold';
    padding-left: 16px;
    background: url(../img/bullet-verde.png) no-repeat center left;
    display: inline-block;
    font-size: 15px;
    margin-left: -8px;
}
.texto-valores span {font-family: 'gotham_bold';}
.cultura video {margin-top: -40px;}

.flechitas img {display: inline-block; vertical-align: top; padding: 8px 20%;}
.flechitas img:first-child {padding: 8px 18% 8px 4%;}
.flechitas img:last-child {padding: 8px 4% 8px 18%;}
.nope {padding-top:0!important; box-shadow: none;}
.directrices-list {color: #FFF; padding: 0 34px;}
.directrices-list p {min-height: 60px;}
.directrices-list h4 {font-family: 'gotham_bold'; font-size: 14px;}
.directrices-items {font-size: 16px;}
.directrices-items .tarjeta {border-radius: 24px;}
.directrices-items span {font-family: 'gotham_bold';}

/* MARCAS */
.marcas .sombra {padding: 24px 6px;}
.marcas .tarjeta-sans {
    background: #FFF;
    width: 99%;
    margin-left: 0.5%;
    height: 496px;
    border-radius: 10px;
    box-shadow: 0 0px 2px rgba(0,0,0,0.1);
    padding-top: 8px;
}
.marcas .mapa-frame {
    border-radius: 10px;
    overflow: hidden;
    width: 508px;
    margin: 0 auto;
    position: relative;
}
.marcas-list .tarjeta {
    display: inline-block;
    width: auto;
    padding: 0;
    margin-bottom:8px;
    -webkit-box-shadow: 0 6px 16px rgba(0,0,0,0.1), 0 -2px 12px rgba(0,0,0,0.1);
    box-shadow: 0 6px 16px rgba(0,0,0,0.1), 0 -2px 12px rgba(0,0,0,0.1);
}
.marcas-list .producto-info {
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    font-family: 'gotham_bold';
    color: #5d5d5d;
    width: 58%;
    text-align: left;
    padding: 50px 0 0 1em;
}
.mapa-frame .enlaces {
    display: inline-block;
    vertical-align: top;
    width: 120px;
    height: 40px;
    position: absolute;
}
.mapa-frame .argentina {bottom: 95px; right: 50px;}
.mapa-frame .chile {bottom: 170px; left: 146px;}
.mapa-frame .brasil {bottom: 182px; right: 20px;}
.mapa-frame .peru {top: 175px; left: 128px;}
.mapa-frame .ecuador {top: 116px; left: 92px;}

/* RECONOCIMIENTOS */
.recon .sombra {padding: 24px 6px;}
.recon .tarjeta-sans {
    background: #FFF;
    width: 99%;
    margin-left: 0.5%;
    height: 496px;
    border-radius: 10px;
    box-shadow: 0 0px 2px rgba(0,0,0,0.1);
    padding-top: 8px;
    position: relative;
}
.recon-list li {display: inline-block; vertical-align: top; margin: 1em;}
.recon-list .tarjeta {
    display: inline-block;
    width: auto;
    padding: 8px;
    margin-bottom:8px;
    -webkit-box-shadow: 0 6px 16px rgba(0,0,0,0.1), 0 -2px 12px rgba(0,0,0,0.1);
    box-shadow: 0 6px 16px rgba(0,0,0,0.1), 0 -2px 12px rgba(0,0,0,0.1);
}
.recon .modal-backdrop {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    width: 950px;
    height: 532px;
    margin: 108px auto 0;
    background-color: #fff;
}
.recon .modal-backdrop.in {
    opacity: .7;
}
.recon .close {
    float: none;
    position: absolute;
    top: -8px;
    right: -8px;
    opacity: 1;
    z-index: 5;
}
.recon .modal {
    position: absolute;
}
.recon .modal-content {
    -webkit-box-shadow: 0 10px 24px rgba(0,0,0,.12);
    box-shadow: 0 10px 24px rgba(0,0,0,.12);
    border: none;
    border-radius: 24px;
}
.recon .peque h4{
    font-size: 28px;
    text-align: center;
}
.recon .modal-body {text-align: left; padding: 32px;}
.recon .modal-body p {margin-top: 8px; color: #5d5d5d;}
.recon .modal-body span {font-family: 'gotham_bold';}
.recon .costado {
    display: inline-block;
    vertical-align: middle;
    width: 60%;
    padding-left: 2em;
}
.modal-body .lista-modal {margin-top: 8px; color: #5d5d5d;}
.modal-body .lista-modal li {
    padding-left: 16px;
    background: url(../img/bullet-verde.png) no-repeat left 8px;
}
.lista-modal span {font-family: 'gotham_bold';}
.limitar {max-height: 110px;}

/* ISOS */
.iso-list {padding-top: 84px; color: #5d5d5d;}
.iso-list .tarjeta {font-size: 12px; margin-top: 28px; padding: 16px 32px;}
.iso-list li {display: inline-block; vertical-align: top; margin: 0 3em; width: 24%;}
.iso-list h4 {text-transform: uppercase; font-family: 'gotham_bold'; font-size: 14px;}

/* ÁREAS */
.areas .sombra {padding: 24px 6px;}
.areas .tarjeta-sans {
    background: #FFF;
    width: 99%;
    margin-left: 0.5%;
    height: 496px;
    border-radius: 10px;
    box-shadow: 0 0px 2px rgba(0,0,0,0.1);
    padding-top: 8px;
    position: relative;
}
.areas .title {margin: 8px 15px 0; padding-top:8px; padding-bottom:0;}
.areas-item {position: relative;}
.areas-item .hoja {display: inline-block; vertical-align: bottom; width: 212px; height: 90px; border-top-left-radius: 40px; border-bottom-right-radius: 40px; color: #FFF; padding: 16px; margin-top: 140px;}
.areas-item .hoja:focus, .areas-item .hoja:hover {text-decoration: none;}
.areas-item .bg-rojo {margin-top: 0; position: absolute;}
.bg-rojo .bajar {margin-top: 20px; font-size: 16px;}
.areas-item span {font-family: 'gotham_medium';}
.areas-item .linea-vertical {height: 14px; width: 2px; position: absolute; bottom: 90px; left: 50%;}
.areas-item .linea-vertical2 {height: 65px; width: 2px; position: absolute; bottom: 90px; left: 50%;}
.areas-item .linea-horizontal {height: 2px; width: 100%; position: absolute; bottom: 104px; left: 0;}
.areas-item .mitad-der {width: 50%; left: 50%;}
.areas-item .mitad-izq {width: 50%; right: 50%; z-index: 10;}
.bajar {margin-top: 8px;}
.areas-item .bg-dashix {background: url(../img/dashi-01.png) repeat-x center;}
.areas-item .bg-dashiy {background: url(../img/dashi-02.png) repeat-y top;}
.areas-item .lineal {border: 2px solid #80c042;}

.areas .modal-body {padding:0; background-color: #185532;}
.areas .img-frame {
    width: 40%;
    margin: 0 auto;
    position: relative;
}
.areas .text-frame {
    display: inline-block;
    width: 60%;
    margin: 0 auto;
    text-align: left;
    color: #fFF;
    padding: 2.3em 2em;
    min-height: 147px;
}
.areas .img-frame span {
    display: inline-block;
    vertical-align: top;
    background: rgba(255, 255, 255, 0.8);
    padding: 6px 62px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    text-transform: uppercase;
    font-size: 10px;
    color: #185532;
}
.areas .modal-backdrop {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    width: 950px;
    height: 532px;
    margin: 108px auto 0;
    background-color: #fff;
}
.areas .modal-backdrop.in {opacity: .2;}
.areas .close {
    float: none;
    position: absolute;
    top: -8px;
    right: -8px;
    opacity: 1;
    z-index: 10;
}
.areas .modal {position: absolute;}
.areas .modal-content {
    -webkit-box-shadow: 0 10px 24px rgba(0,0,0,.12);
    box-shadow: 0 10px 24px rgba(0,0,0,.12);
    border: none;
    overflow: hidden;
    border-radius: 10px;
}
.modal-dialog {width: 600px; margin: 90px auto;}
.peque {font-size: 12px; padding: 1em 2em!important;}
.tri {
    position: absolute;
    bottom: -14px;
    left: 50%;
    margin-left: -10px;
}
#gege .modal-dialog {width: 300px;}
#gege .img-frame {width: 300px;}

/* AUTOEVALUACIÓN */
.bg-autoeval {background: url(../img/bg05.png) no-repeat center; background-size: cover; height: 496px; padding: 4em 0;}
.bg-autoeval .hoja {
    background-color: #ff8200;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
    color: #FFF;
    padding: 6px 12px;
    text-transform: uppercase;
    font-family: 'gotham_bold';
    font-size: 1.4em;
    float: left;
}
.bg-autoeval .main-title {
    font-size: 3.4em;
    text-align: center;
    background: none;
    width: 100%;
    margin: 16px 0;
    font-family: 'gotham_light';
}

.autoeval-info {display: inline-block; vertical-align: top; font-size: 16px; font-family: 'gotham_medium'; color: #FFF; text-align: left;}
.autoeval .blanco {text-transform: uppercase; font-size: 16px; color: #FFF; text-align: left; font-family: 'gotham_medium'; letter-spacing: 2px;}
.autoeval .btn-default {
    color: #fff;
    background-color: #e11f26;
    border-color: transparent;
    border-radius: 24px;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'gotham_medium';
    letter-spacing: 1px;
    padding: 8px 24px;
    display: inline-block;
    vertical-align: top;
    float: left;
}

.autoeval-cultura .sombra, .autoeval-areas .sombra {padding: 24px 6px;}
.autoeval-cultura .tarjeta-sans, .autoeval-areas .tarjeta-sans {
    background: #FFF;
    width: 99%;
    margin-left: 0.5%;
    height: 496px;
    border-radius: 10px;
    box-shadow: 0 0px 2px rgba(0,0,0,0.1);
    padding: 0 15px 0;
}
.autoeval-cultura .title {margin-bottom: 0; padding: 6px 16px; padding-left: 44px; margin-top: 6px;}
.autoeval-cultura .img-responsive, .autoeval-areas .img-responsive {margin: 0 auto;}
.autoeval-cultura .texto-valores {
    position: absolute;
    top: 0;
    padding: 62px 18px 0 2px;
    color: #f9f0d6;
    font-size: 12px;
}

.autoeval-cultura .texto-valores p {
    margin-bottom: 0;
    font-size: 10px;
    padding: 0 12px;
}

.dropzone {
    display: inline-block;
    border: 2px dashed #f19b21;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 12px;
    padding: 4px 0;
    min-height: 38px;
    width: 121px;
    background: #FFF;
    margin: 8px auto;
    line-height: 1;
    
    transition: background-color 0.3s;
}
.prueba {margin: 0px 0 8px 76%;}
.drop-active {
    border-color: green;
}

.drop-target {
    background-color: blue;
    border-color: red;
    border-style: solid;
}

.texto-valores .dropzone {width: 80%; margin: 0 auto;}

.drag-drop {
    display: inline-block;
    border: 2px solid #f19b21;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 4px 0;
    min-height: 38px;
    padding: 4px 8px;
    /* margin: 0px auto 8px; */

    line-height: 1;

    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    transition: background-color 0.3s;
}

.drag-drop.can-drop {
  color: #000;
  background-color: #4e4;
  margin:0;
}

.autoeval-cultura .truco {margin-bottom: 54px;}
.autoeval-cultura .otrotruco {margin-bottom: 48px;}
#contexto {position: relative;}
#contexto .sobrepuesto {position: absolute; height: 100%; z-index: 100; width: 100%;}
.lider-dropzone {position: absolute; top: 85px; left: 55px; width: 190px;}
#agil-dropzone {position: absolute; top: 226px; left: 55px; width: 190px;}
#respeto-dropzone {position: absolute; top: 366px; left: 55px; width: 190px;}
#lideres-dropzone {position: absolute; top: 195px; left: 184px; width: 240px;}
#crecer-dropzone {position: absolute; top: 269px; left: 184px; width: 240px;}
#conectados-dropzone {position: absolute; top: 86px; left: 283px; width: 190px;}
#confiamos-dropzone {position: absolute; top: 226px; left: 283px; width: 190px;}

#lideres-drop,
#crecer-drop {
    left: 504px;
    width: 240px;
    height: 38px;
    position: absolute;
    margin: 8px 0;
}

#lideres-drop {
    top: 140px;
}

#crecer-drop {
    top: 200px;
}

#agil-drop,
#lider-drop,
#respeto-drop,
#confiamos-drop,
#conectados-drop {
    position: absolute;
    margin: 8px 0;
    width: 190px;
    height: 38px;
    left: 590px;
}

#agil-drop {
    top: 40px;
}
#lider-drop {
    top: 100px;
}
#respeto-drop {
    top: 160px;
}
#confiamos-drop {
    top: 220px;
}
#conectados-drop {
    top: 280px;
}

/* AUTOEVALUACIÓN AREAS */
.autoeval-areas .title {padding: 16px 15px 0; padding-left: 44px;}
.autoeval-areas .representante {margin: 40px auto 0;}
.autoeval-areas p {text-align: left; margin-top: 50px; min-height: 80px;}

/* AUTOEVALUACIÓN MARCAS */
.autoeval-marcas .sombra {padding: 24px 6px;}
.autoeval-marcas .tarjeta-sans {
    background: #FFF;
    width: 99%;
    margin-left: 0.5%;
    height: 496px;
    border-radius: 10px;
    box-shadow: 0 0px 2px rgba(0,0,0,0.1);
    padding: 0 15px 0;
}
.autoeval-marcas .title {padding: 16px 15px 0; padding-left: 44px; margin-bottom: 50px;}
.slogan {
    display: inline-block;
    vertical-align: top;
    color: #5d5d5d;
    font-family: 'gotham_medium';
    border: 2px dashed #ff8200;
    width: 124px;
    font-size: 12px;
    padding: 0;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    height: 118px;
    margin: 4px 1px;
    position: relative;
}
.slogan p {
    display: inline-block;
    vertical-align: top;
    color: #5d5d5d;
    font-family: 'gotham_medium';
    font-size: 12px;
    padding: 26px 8px;
    position: absolute;
    top: 0;
    left: 0;
}
.brand {display: inline-block; vertical-align: top; margin: 0;}

.dropContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}


/*paginas correcto  ------   incorrecto  */

.content-habilidades {
  position: relative;
  height: 465px;
}

.content-habilidades .text-habilidades {
  width: 556px;
  position: absolute;
  top: 223px;
  left: 250px;
}

.content-habilidades .text-habilidades .h-left {
  position: absolute;
  left: -100px;
  top: -83px;
}

.content-habilidades .text-habilidades h2 {
  font-size: 46px;
  letter-spacing: 1.1px;
  color: #7FC241;
  text-align: left;
  font-weight: bold;
  margin: 0px;
}

.content-habilidades .text-habilidades h3 {
  font-size: 30px;
  letter-spacing: 1.1px;
  font-weight: bold;
  text-align: left;
  margin: 0px;
}
.hb-left {
  position: absolute;
  bottom: 110px;
  left: 138px;
}

.hb-right {
  position: absolute;
  top: 50px;
  right: 160px;
}
.c-orange {
    color: #f9931f !important;
}


.modal-header h4{
    font-size: 12px;
    margin: 0px;
    text-align: left;
}



.overlay:before{
  position: absolute;
  content:" ";
  top: 110px;
  left:0;
  width:100%;
  height:77%;
  display: none;
  z-index:0;
  display: block;
  border-radius: 10px;
}
.black:before {
  background-color: rgba(0, 0, 0, 0.5);
}
.box * {
    position: relative;
    /* hack */
}


/* NUESTRO NEGOCIO */

.bg-nuestro {background: url(../img/bg_009.png) no-repeat center; background-size: cover; height: 496px; padding: 20.1em 0 0;}
.bg-nuestro .hoja {
    background-color: #ff8200;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
    color: #FFF;
    padding: 6px 12px;
    text-transform: uppercase;
    font-family: 'gotham_bold';
    font-size: 1.4em;
    float: left;
}

.bg-nuestro .main-title {
    font-size: 3.4em;
    text-align: left;
    background: none;
    width: 100%;
    margin: 16px 0;
    font-family: 'gotham_light';
}

.pd-0{
    padding: 0;
}
.modal-center h1{
    color: #5E5E5E;
    font-size: 18px;
    text-align: left;
    font-weight: 600;
}
.modal-center ul li a {
  display: block;
  background: url("../img/flecha.png") no-repeat 99% 67%;
  padding: 10px 25px 0 0;
  color: #fff;
  text-decoration: none;
  background-size: 16px;
  border-bottom: 1px solid #e11f26;
}
.modal-center ul li a span {
  font-size: 15px;
  font-weight: 600;
  color: #e11f26;
  display: table-cell;
  vertical-align: middle;
}

.modal-center ul li .abierto {
  background: url("../img/flecha-up.png") no-repeat 98.5% 67%;
  padding: 10px 25px 0 0;
  background-size: 16px;
  border-bottom: 3px solid #e11f26;
}
.modal-center ul li .abierto span {
  display: table-cell;
  vertical-align: middle;
}
.modal-center ul li:hover {
  text-decoration: none;
}
.modal-center ul li:active {
  text-decoration: none;
}
.modal-center ul li .contenido-cuadro {
  display: none;
  margin-bottom: 10px;
}
.modal-center  ul li .contenido-cuadro p {
  margin: 10px 0 4px;
  text-align: left;
  font-size: 13px;
  font-weight: normal;
  color: #5E5E5E;
}
.modal-center .contenido-cuadro p span {
  color: #e11f26;
}
.nuestro .tarjeta{
    height: 485px;
    padding: 32px 137px 10px 32px;
    -webkit-box-shadow: 0 12px 16px rgba(0,0,0,0.2), 0 -2px 12px rgba(0,0,0,0.1);
    box-shadow: 0 12px 16px rgba(0,0,0,0.2), 0 -2px 12px rgba(0,0,0,0.1);
}
.nuestro img{
    width: 94.2%;
    -webkit-box-shadow: 0 12px 16px rgba(0,0,0,0.2), 0 -2px 12px rgba(0,0,0,0.1);
    box-shadow: 0 12px 16px rgba(0,0,0,0.2), 0 -2px 12px rgba(0,0,0,0.1);
}

.bg-cadena {background: url(../img/bg07.png) no-repeat center; background-size: cover; height: 496px; padding: 11em 0 0;}
.bg-autoe {background: url(../img/bg09.png) no-repeat center; background-size: cover; height: 496px; padding: 4em 0 0;}

.bg-cadena h2{
    font-size: 44px;
    text-align: center;
    color: white;
    font-family: 'gotham_light';
}
.cadena-p .box-pop-up{
    position: relative;
}

.cadena-p .modal-dialog, .ventajas-p .modal-dialog{
    width: 940px;
    height: 496px;
    margin: 115px auto 0;
}

.ventajas-p .modal-dialog{
    margin: 110px auto 0 !important;
}

.cadena-p .modal-body, .ventajas-p .modal-body{
    padding: 0px;
}
.cadena-p .close, .ventajas-p .close{
    position: absolute;
    right: 0px;
    z-index: 2;
}
.cadena-p .modal-content, .ventajas-p .modal-content{
    border: 0px ;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 16px, rgba(0, 0, 0, 0.1) 0px -2px 12px;
}

.c-01{
    width: 60px;
    height: 60px;
    /*background: red;*/
    position: absolute;
    top: 123px;
    left: 52px;
}

.c-02{
    width: 60px;
    height: 60px;
    /*background: blue;*/
    position: absolute;
    top: 123px;
    left: 148px;
}

.c-03{
    width: 60px;
    height: 60px;
    /*background: pink;*/
    position: absolute;
    top: 123px;
    left: 239px;
}

.c-04{
    width: 60px;
    height: 60px;
    /*background: green;*/
    position: absolute;
    top: 126px;
    left: 338px;
}
.c-05{
    width: 60px;
    height: 60px;
   /* background: green;*/
    position: absolute;
    top: 126px;
    left: 432px;
}
.c-06{
    width: 60px;
    height: 60px;
    /*background: green;*/
    position: absolute;
    top: 117px;
    left: 620px;
}

.c-07{
    width: 60px;
    height: 60px;
   /* background: green;*/
    position: absolute;
    top: 126px;
    left: 525px;
}

.c-08{
    width: 60px;
    height: 60px;
    /*background: green;*/
    position: absolute;
    top: 97px;
    left: 712px;
}

.c-09{
    width: 60px;
    height: 60px;
    /*background: green;*/
    position: absolute;
    top: 67px;
    left: 803px;
}


/* VENTAJAS: */

.ventajas-p p{
    font-size: 22px;
    text-align: left;
}
.ventajas-p p span {
    color: #81B841;
    font-weight: bold;
}
.ventajas-p h2 {
    color: #D81F26;
    font-weight: bold;
    font-size: 27px;
    text-align: left;
    margin: 0 0 20px 0;
}

.ventajas-p .col-md-5 {
    padding-left: 43px;
}

.recuerda{
    padding: 78px 30px 0px 0px;
    width: 293px;
}
.recuerda h3{
    font-size: 14px;
    text-align: left;
    line-height: 19px;
}
.recuerda span{
    color: #D81F26;
    font-weight: bold;
}

.s-img{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 16px, rgba(0, 0, 0, 0.1) 0px -2px 12px;
    margin-bottom:  8px;
}

.p-nuestra-cadena{
    padding-top: 10px;
}

.lista-ventajas{
    position: relative;
}

.box-white{
    background: white;
    position: absolute;
    top: 4%;
    left: 93px;
    padding: 10px; 
}
.box-white ul {
    list-style: none;
}
.box-white ul li  {
    text-align: left;
    margin-bottom: 27px;
    margin-left: -17px;
    background: white;}
.box-white ul li a {
    color: #D81F26;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
}


/* autoevaluacion 3*/

.box-logo{
    margin-bottom: 30px;
    cursor: pointer;
}

.content-ejercicio{
    position: relative;
}
.box-logo1{
    width: 49px;
    height: 47px;
    background: #eff0f0;
    position: absolute;
    top: 21.7%;
    left: 21px;
    border-radius: 2px 20px;
    border: 1px solid #a19f9f;
}

.box-logo2{
    width: 49px;
    height: 47px;
    position: absolute;
    top: 21.7%;
    left: 13.5%;
    background: #eff0f0;
    border: 1px solid #a19f9f;
    border-radius: 2px 20px;
}

.box-logo3{
    width: 49px;
    height: 47px;
    position: absolute;
    top: 22.4%;
    background: #eff0f0;
    left: 24.2%;
    border: 1px solid #a19f9f;
    border-radius: 2px 20px;
}

.box-logo4{
    width: 49px;
    height: 47px;
    background: #e6f1db;
    position: absolute;
    top: 23.3%;
    left: 35.4%;
    border-radius: 2px 20px;
    border: 1px solid #b2d58f;
}

.box-logo5{
    width: 49px;
    height: 47px;
    background: #e6f1db;
    position: absolute;
    top: 22.5%;
    left: 45.7%;
    border-radius: 2px 20px;
    border: 1px solid #b2d58f;
}

.box-logo6{
    width: 49px;
    height: 47px;
    background: #e6f1db;
    position: absolute;
    top: 21%;
    left: 56.4%;
    border-radius: 2px 20px;
    border: 1px solid #b2d58f;

}


.box-logo7{
    width: 49px;
    height: 47px;
    background: #e6f1db;
    position: absolute;
    top: 19.2%;
    left: 67%;
    border-radius: 2px 20px;
    border: 1px solid #b2d58f;
}


.box-logo8{
    width: 49px;
    height: 47px;
    background: #f7d3d5;
    position: absolute;
    top: 15.5%;
    left: 77.7%;
    border-radius: 2px 20px;
    border: 1px solid #e87b80;
}

.box-logo9{
    width: 49.7px;
    height: 47px;
    background: #f7d3d5;
    position: absolute;
    top: 7%;
    left: 88.3%;
    border-radius: 2px 20px;
    border: 1px solid #e87b80;
}


#v-finanzas .modal-body, #v-corporativa .modal-body{
    height: 496px;
    position: relative;
    overflow: hidden;
    overflow-y: visible;
}
.disabled-a {
    color: #ccc !important;
    text-decoration: none !important;
}
.reto{
    height: 40px;
    width: 202px;
    border-radius: 20px;    
    position: absolute;
    left: 130px;
}
.reto-uno{
    top: 274px;    
}
.reto-dos{
    top: 377px;    
}

.reto a{
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none
}


.bg-autoe .btn-default {
    color: #fff;
    background-color: #e11f26;
    border-color: transparent;
    border-radius: 24px;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'gotham_medium';
    letter-spacing: 1px;
    padding: 8px 24px;
    display: inline-block;
    vertical-align: top;
    float: left;
}

.bg-autoe .blanco {
    text-transform: uppercase;
    font-size: 16px;
    color: #FFF;
    text-align: left;
    font-family: 'gotham_medium';
    letter-spacing: 2px;
}