
<style>
	.wow:first-child {
		visibility: hidden;
	}
	.opcion-ejercicio{
		position: absolute;
		bottom: 0;
	}
	.texto-descriptivo{
		text-align: justify;
		line-height: normal;
		margin-top: 5px;
	}
</style>
<div class="wrapper areas">
	<header>
		<nav>
			<div class="row">
				<div class="col-md-2">
					<a href="index.php"><img src="img/logo01.png" class="img-responsive logo01" /></a>
				</div>
				<div class="col-md-10">
					<ul class="menu-principal">
						<li class="col-md-2 paddless"><a href="nuestros-negocios.html" class="intro-activo">INTRODUÇÃO</a></li>
						
						<li class="col-md-3 paddless"><a href="nuestros-negocios.html" class="alicorp-activo notClicked">NOSSOS NEGÓCIO</a></li>
					</ul>
					<ul class="menu-secundario">
						<li class="impar paddless col-md-3"><a href="modulo-uno.html" class="quienes-activo quienes-ant">Nossos negócios </a></li><!--
						--><li class="impar paddless col-md-3"><a href="intro-historia.html" class="historia-activo historia-sig historia-ant">Cadeia de valor</a></li><!--
						--><li class="impar paddless col-md-3"><a href="intro-cultura.html" class="cultura-activo cultura-sig cultura-ant">Vantagens competitivas</a></li><!--
						--><li class="impar paddless col-md-3"><a href="intro-areas.html" class="areas-activo areas-sig areas-ant">Auto avaliação</a></li><!--
						-->
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div class="auto-3">
		<div class="container-fluid" id="contexto">
			<div class="row sobrepuesto" style="padding-top: 40px;">
	
				<div class="col-xs-2">
					<div class="row">
						<div class="col-xs-6">
							
							<div class="box-logo">
								<img src="img/autoevaluacion/A_A_-modulo-2-parte-4-autoevaluacion-8.png" alt=""
								draggable="true" ondragstart="drag(event)" data-part="seis" id="drag6">
							</div>
							
							<div class="box-logo">
								<img src="img/autoevaluacion/A_A_-modulo-2-parte-4-autoevaluacion-11.png" alt=""
								draggable="true" ondragstart="drag(event)" data-part="nueve" id="drag9">
							</div>

						
								<div  id="one-drop" class="box-logo" > 
								<img src="img/autoevaluacion/A_A_-modulo-2-parte-4-autoevaluacion-3.png" alt="" 
								draggable="true" ondragstart="drag(event)" data-part ="uno" id="drag1"> 
							</div>

							<div class="box-logo">
								<img src="img/autoevaluacion/A_A_-modulo-2-parte-4-autoevaluacion-6.png" alt=""
								draggable="true" ondragstart="drag(event)" data-part="cuatro" id="drag4">
							</div>
						</div>

						<div class="col-xs-6">
						
							<div class="box-logo">
								<img src="img/autoevaluacion/A_A_-modulo-2-parte-4-autoevaluacion-9.png" alt=""
								draggable="true" ondragstart="drag(event)" data-part="siete" id="drag7">
							</div>
							<div class="box-logo">
								<img src="img/autoevaluacion/A_A_-modulo-2-parte-4-autoevaluacion-4.png" alt=""
								 draggable="true" ondragstart="drag(event)" data-part="dos" id="drag2">
							</div>

							<div class="box-logo">
								<img src="img/autoevaluacion/A_A_-modulo-2-parte-4-autoevaluacion-10.png" alt=""
								draggable="true" ondragstart="drag(event)" data-part="ocho" id="drag8">
							</div>
					
							<div class="box-logo">
								<img src="img/autoevaluacion/A_A_-modulo-2-parte-4-autoevaluacion-7.png" alt=""
								draggable="true" ondragstart="drag(event)" data-part="cinco" id="drag5">
							</div>


							<div class="box-logo">
								<img src="img/autoevaluacion/A_A_-modulo-2-parte-4-autoevaluacion-5.png" alt=""
								draggable="true" ondragstart="drag(event)" data-part="tres" id="drag3">
							</div>
						</div>
					</div>
					
				</div>
				<div class="col-xs-10">
					<div class="content-ejercicio">
					<img src="img/autoevaluacion/A_A_-modulo-2-parte-4-autoevaluacion-2.png" alt="" class="bgvalores">

						<div id="div1" class="box-logo1 dropzone" ondrop="drop(event)" ondragleave="restart(event)" ondragover="allowDrop(event)" data-part="uno">
							<div class="dropContainer" data-avalible="true"></div>
						</div>

						<div id="div2" class="box-logo2 dropzone"  ondrop="drop(event)" ondragleave="restart(event)" ondragover="allowDrop(event)" data-part="dos">
							<div class="dropContainer" data-avalible="true"></div>
						</div>

						<div id="div3" class="box-logo3 dropzone"  ondrop="drop(event)" ondragleave="restart(event)" ondragover="allowDrop(event)" data-part="tres">
							<div class="dropContainer" data-avalible="true"></div>
						</div>

						<div id="div4" class="box-logo4 dropzone"  ondrop="drop(event)" ondragleave="restart(event)" ondragover="allowDrop(event)" data-part="cuatro">
							<div class="dropContainer" data-avalible="true"></div>
						</div>

						<div id="div5" class="box-logo5 dropzone"  ondrop="drop(event)" ondragleave="restart(event)" ondragover="allowDrop(event)" data-part="cinco">
							<div class="dropContainer" data-avalible="true"></div>
						</div>

						<div id="div6" class="box-logo6 dropzone"  ondrop="drop(event)" ondragleave="restart(event)" ondragover="allowDrop(event)" data-part="seis">
							<div class="dropContainer" data-avalible="true"></div>
						</div>

						<div id="div7" class="box-logo7 dropzone"  ondrop="drop(event)" ondragleave="restart(event)" ondragover="allowDrop(event)" data-part="siete">
							<div class="dropContainer" data-avali	ble="true"></div>
						</div>

						<div id="div8" class="box-logo8 dropzone"  ondrop="drop(event)" ondragleave="restart(event)" ondragover="allowDrop(event)" data-part="ocho">
							<div class="dropContainer" data-avalible="true"></div>
						</div>

						<div id="div9" class="box-logo9 dropzone"  ondrop="drop(event)" ondragleave="restart(event)" ondragover="allowDrop(event)" data-part="nueve">
							<div class="dropContainer" data-avalible="true"></div>
						</div>

					</div>
				</div>
			</div>
			
	</div>
	<footer>
	<div class="row">
		<div class="col-md-4">
			<span class="programa">PROGRAMA DE INDUÇÃO</span>
		</div>
		<div class="col-md-4">
			<a href="autoevaluacion-nuestras-areas-dos.html" class="anterior"><img src="img/arrow-left.png" /></a>
			<a href="#" class="siguiente notClicked"><img src="img/arrow-rightt.png" /></a>
		</div>
		<div class="col-md-4">
			<span class="creditos">Alicorp 2017 © Todos los derechos reservados.</span>
		</div>
	</div>
	</footer>
</div>

<script type="text/javascript">

	var audio = document.getElementById("ae03.mp3");

	if(audio){
		audio.play();
	}
	var totalAnswer  = 9;
	var userAnswer   = 0;

	function allowDrop(ev) {		
	    ev.preventDefault();
	}
	
	function drag(ev) {				
	    ev.dataTransfer.setData("text", ev.target.id);
	    ev.dataTransfer.setData("answer", ev.target.getAttribute("data-part"));
	}
	function updateUserAnswer(){
		userAnswer  = 0;
		var elements = document.getElementsByClassName("dropContainer");
		for (var i = 0; i < elements.length; i++) {
			var element = elements[i];			
			if(element.hasChildNodes()){
				element.setAttribute("data-avalible","true");
				userAnswer++;
			}
		}
	}

	function drop(ev) {		
	    ev.preventDefault();
	    var data = ev.dataTransfer.getData("text");
	    
	    if( ev.target.getAttribute("data-avalible") == "true" ){
		   
		    ev.target.setAttribute("data-avalible","false");
		    ev.target.appendChild(document.getElementById(data));
			updateUserAnswer();
			
			if(userAnswer == totalAnswer){
				validate();  				
			}
			
	    }
	    
	    
	}
	function restart(event){		
		event.preventDefault();
		
		var elements = document.getElementsByClassName("dropContainer");		
		var withOutChild = 0;
		for (var i = 0; i < elements.length; i++) {
			var element = elements[i];			
			if(!element.hasChildNodes()){
				element.setAttribute("data-avalible","true");
			}
		}
	}


    function validate() {
    	var nextAudioId = 'd41-correcto.mp3';
    	var valid = true;
    	var dropContainer = document.getElementsByClassName("dropContainer");
    	var html = 'autoevaluacion-nuestras-areas-tres-correctos.html';

    	for (var i = 0; i < dropContainer.length; i++) {
    		var drop = dropContainer[i];
    		var answerContainer = drop.parentNode.getAttribute("data-part"); 
    		var childNode = drop.firstChild.getAttribute("data-part");
			if(childNode != answerContainer){
				valid = false;
				nextAudioId = 'd41-incorrecto.mp3';
				break;
			}	
    		
    	}
    	
    	if(!valid){
    		html = 'autoevaluacion-nuestras-areas-tres-incorrectos.html';
    	}
    	
    	jQuery("#container-curso").load(html,function(){
    		if(nextAudioId){
    			nextAudio = document.getElementById(nextAudioId);
    			if(nextAudio){
    				nextAudio.play();
    			}
    		}
    	});
    }
    jQuery(document).ready(function(){
        document.body.className  = "autoeval";
    });
</script>