<style>
	.wow:first-child {
		visibility: hidden;
	}
	.opcion-ejercicio{
		position: absolute;
		bottom: 0;
	}
	.texto-descriptivo{
		text-align: left;
		line-height: normal;
		margin-top: 5px;
	}
</style>
<div class="wrapper autoeval-cultura">
<header>
		<nav>
			<div class="row">
				<div class="col-md-2">
					<a href="index.php"><img src="img/logo01.png" class="img-responsive logo01" /></a>
				</div>
				<div class="col-md-10">
					<ul class="menu-principal">
						<li class="col-md-2 paddless"><a href="nuestros-negocios.html" class="intro-activo">INTRODUÇÃO</a></li>
						
						<li class="col-md-3 paddless"><a href="nuestros-negocios.html" class="alicorp-activo notClicked">NOSSOS NEGÓCIO</a></li>
					</ul>
					<ul class="menu-secundario">
						<li class="impar paddless col-md-3"><a href="modulo-uno.html" class="quienes-activo quienes-ant">Nossos negócios </a></li><!--
						--><li class="impar paddless col-md-3"><a href="intro-historia.html" class="historia-activo historia-sig historia-ant">Cadeia de valor</a></li><!--
						--><li class="impar paddless col-md-3"><a href="intro-cultura.html" class="cultura-activo cultura-sig cultura-ant">Vantagens competitivas</a></li><!--
						--><li class="impar paddless col-md-3"><a href="intro-areas.html" class="areas-activo areas-sig areas-ant">Auto avaliação</a></li><!--
						-->
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div class="tarjeta-sans">
		<div class="container-fluid">
			<h2 class="title" style="background: none;padding-left: 16px;">Nossas áreas<br /><span>Leve cada colaborador para a área que você acha que pertence:</span></h2>

			<div class="row" style="padding-top: 40px;">

			<div class="col-xs-6">
				<div class="col-xs-4" style="padding: 0px;">
					<img src="img/autoev-02.png" class="img-responsive">
				</div>

				<div class="col-xs-8" style="padding: 0px;min-height: 110px;">
					<p class="texto-descriptivo"> 
						Oi! Minha área lida com produtos para padarias, restaurantes e indústrias alimentícias.
					</p>
					<select class="form-control opcion-ejercicio" id="option-1"> 
						<option value=""> Selecione </option>
						<option value="true">Vice Presidência de Alicorp Soluções</option>
						<option value="false">Gerência geral Vitapro</option>
						<option value="false">Vice Presidência Corporativa de Matérias-Primas</option>
					</select>
				</div>
			</div>
			<div class="col-xs-6">
				
				<div class="col-xs-4" style="padding: 0px;">
					<img src="img/autoev-06.png" class="img-responsive">
				</div>

				<div class="col-xs-8" style="padding: 0px;min-height: 110px;">
					<p class="texto-descriptivo">Oi eu sou Andrea e eu sou responsável de ser um sócio estratégico para meus clientes internos, aconselhando-os em todas as gestões de pessoas.
					</p>
					<select class="form-control opcion-ejercicio" id="option-2">
						<option value="">Selecione</option>
						<option value="true">Vice Presidência Corporativa de Recursos Humanos</option>
						<option value="false">Vice Presidência Corporativa de Matérias-Primas</option>
						<option value="false">Direção corporativa de Eficiência</option>
					</select>
				</div>

			</div>

			</div>
			
			<div class="row" style="margin-top: 30px;">
				<div class="col-xs-6">
					<div class="col-xs-4" style="padding: 0px;">
						<img src="img/autoev-04.png" class="img-responsive">
					</div>
					<div class="col-xs-8"  style="padding: 0px;min-height: 110px;">
						<p class="texto-descriptivo">
						Eu sou Sofia, tudo bem? Vemos que os padrões de qualidade sejam cumpridos.
						</p>
						<select class="form-control opcion-ejercicio" id="option-3">
							<option value=""> Selecione </option>
							<option value="false">Vice Presidência Corporativa de Finanças</option>
							<option vlaue="true">Vice Presidência Corporativa de Supply Chain</option>
							<option value="false">Vice Presidência Corporativa de Recursos Humanos</option>
						</select>
					</div>
				</div>
			</div>
	</div>
	<footer>
	<div class="row">
		<div class="col-md-4">
			<span class="programa">PROGRAMA DE INDUÇÃO</span>
		</div>
		<div class="col-md-4">
			<a href="intro-autoevaluacion.html" class="anterior"><img src="img/arrow-left.png" /></a>
			<a href="#" class="siguiente notClicked"><img src="img/arrow-rightt.png" /></a>
		</div>
		<div class="col-md-4">
			<span class="creditos">Alicorp 2017 © Todos los derechos reservados.</span>
		</div>
	</div>
	</footer>
</div>
<script type="text/javascript">

var audio = document.getElementById('ae02.mp3');
if(audio){
	audio.play();
}
var img  = "img/arrow-right.png";
var html = 'autoevaluacion-nuestras-areas-correctos.html';
jQuery('.opcion-ejercicio').on('change',function(event){
	var audioResultado = 'd41-correcto.mp3';
	var flag = true;
	var userAnswer = [];
	var elements = jQuery('.opcion-ejercicio');
	
	for (var i = 0; i < elements.length; i++) {
		var element = jQuery(elements[i]);
		
		if( element && element.val() != ""){
			
			if(element.val() == "false"){
				flag = false;
				audioResultado = 'd41-incorrecto.mp3';
			}
			userAnswer.push(element.val());
		}
		
	}
	if( userAnswer.length == elements.length ){
	
		if(!flag){
			html = 'autoevaluacion-nuestras-areas-incorrectos.html';
		}

		jQuery("#container-curso").load(html,function(){
			document.getElementById(audioResultado).play();
		});
	}


});


</script>