<div class="wrapper autoeval-cultura">
<header>
		<nav>
			<div class="row">
				<div class="col-md-2">
					<a href="index.php"><img src="img/logo01.png" class="img-responsive logo01" /></a>
				</div>
				<div class="col-md-10">
					<ul class="menu-principal">
						<li class="col-md-2 paddless"><a href="nuestros-negocios.html" class="intro-activo">INTRODUÇÃO</a></li>
						
						<li class="col-md-3 paddless"><a href="nuestros-negocios.html" class="alicorp-activo notClicked">NOSSOS NEGÓCIO</a></li>
					</ul>
					<ul class="menu-secundario">
						<li class="impar paddless col-md-3"><a href="modulo-uno.html" class="quienes-activo quienes-ant">Nossos negócios </a></li><!--
						--><li class="impar paddless col-md-3"><a href="intro-historia.html" class="historia-activo historia-sig historia-ant">Cadeia de valor</a></li><!--
						--><li class="impar paddless col-md-3"><a href="intro-cultura.html" class="cultura-activo cultura-sig cultura-ant">Vantagens competitivas</a></li><!--
						--><li class="impar paddless col-md-3"><a href="intro-areas.html" class="areas-activo areas-sig areas-ant">Auto avaliação</a></li><!--
						-->
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div class="tarjeta-sans">
		<div class="container-fluid">
			<div class="row" id="contexto">

				<div class="content-habilidades">
	              	<div class="text-habilidades"><img class="h-left" src="img//h-left.png" alt="">
	                	<h2 class="box-letra">Resposta correta!</h2>
	              	</div>
	        	</div>

			</div>
		</div>
	</div>
	<footer>
	    <div class="row">
	        <div class="col-md-4">
	            <span class="programa">PROGRAMA DE INDUÇÃO</span>
	        </div>
	        <div class="col-md-4">
	            <a href="autoevaluacion-nuestras-areas-dos.html" class="anterior"><img src="img/arrow-left.png" /></a>
	            <a href="autoevaluacion-nuestras-areas-tres.html" class="siguiente"><img src="img/arrow-right.png" /></a>
	        </div>
	        <div class="col-md-4">
	            <span class="creditos">Alicorp 2017 © Todos los derechos reservados.</span>
	        </div>
	    </div>
	</footer>
</div>
