
<style>
	.wow:first-child {
		visibility: hidden;
	}
</style>
<div class="wrapper historia">
	<header>
		<nav>
			<div class="row">
				<div class="col-md-2">
					<a href="index.html"><img src="img/logo01.png" class="img-responsive logo01" /></a>
				</div>
				<div class="col-md-10">
					<ul class="menu-principal">
						<li class="col-md-2 paddless"><a href="nuestros-negocios.html" class="intro-activo">INTRODUÇÃO</a></li>
						<li class="col-md-3 paddless">
						<a href="nuestros-negocios.html" class="alicorp-activo">NOSSOS NEGÓCIO</a>
						</li>
					</ul>
					<ul class="menu-secundario">
						<li class="impar paddless col-md-3">
							<a href="#" class="quienes-activo quienes-ant notClicked">Nossos negócios </a>
						</li>
						<li class="impar paddless col-md-3">
							<a href="#" class="historia-activo historia-sig historia-ant notClicked">Cadeia de valor</a>
						</li>
						<li class="impar paddless col-md-3">
							<a href="#" class="cultura-activo cultura-sig cultura-ant notClicked">Vantagens competitivas</a>
						</li>
						<li class="impar paddless col-md-3">
							<a href="#" class="areas-activo areas-sig areas-ant notClicked">Auto avaliação</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div class="cardBlock bg-cadena">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6">
					<h2 class=" wow animated fedeInUp" style="animation-delay:0.6s; animation-name:fadeInUp;"> CADEIA <br>  DE VALOR</h2>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<div class="row">
			<div class="col-md-4">
				<span class="programa">PROGRAMA DE INDUÇÃO</span>
			</div>
			<div class="col-md-4">
				<a href="nuestros-negocios1.html" class="anterior"><img src="img/arrow-left.png" /></a>
				<a href="cadena-valor1.html" class="siguiente"><img src="img/arrow-right.png" /></a>
			</div>
			<div class="col-md-4">
				<span class="creditos">Alicorp 2017 © Todos los derechos reservados.</span>
			</div>
		</div>
	</footer>
</div>



<script type="text/javascript">
	var audio = document.getElementById("cv55.mp3");
	
	if(audio){
		audio.play();
	}
	wow = new WOW(
		{
		animateClass: 'animated',
		offset:       100,
		callback:     function(box) {
			console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
			}
		}
	);
	wow.init();

	jQuery(document).ready(function(){
		document.body.className  = "historia";
	});




</script>

