
<style>	
	.s-final{
		font-size: 37px !important;
	    letter-spacing: 1.1px;
	    color: #7FC241;
	    text-align: center !important;
	    font-weight: bold;
	    margin: 0px;
	}

	.s-final2{
		padding-top: 25px !important;
	    font-size: 30px !important;
	    letter-spacing: 1.1px;
	    font-weight: bold;
	    text-align: center !important;
	    margin: 0px;
	}

</style>

<div class="wrapper areas">
<header>
	<nav>
		<div class="row">
			<div class="col-md-2">
				<a href="index.html"><img src="img/logo01.png" class="img-responsive logo01" /></a>
			</div>
			<div class="col-md-10">
				<ul class="menu-principal">
					<li class="col-md-2 paddless"><a href="nuestros-negocios.html" class="intro-activo">Introducción</a></li>
					<li class="col-md-3 paddless"><a href="nuestros-negocios.html" class="alicorp-activo">Nuestros Negocios</a></li>
				</ul>
				<ul class="menu-secundario">
					<li class="impar paddless col-md-3">
						<a href="#" class="quienes-activo quienes-ant notClicked">Nuestros negocios </a>
					</li>
					<li class="impar paddless col-md-3">
						<a href="#" class="historia-activo historia-sig historia-ant notClicked">Cadena de valor</a>
					</li>
					<li class="impar paddless col-md-3">
						<a href="#" class="cultura-activo cultura-sig cultura-ant notClicked">Ventajas competitivas</a>
					</li>
					<li class="impar paddless col-md-3">
						<a href="#" class="areas-activo areas-sig areas-ant notClicked">Autoevaluación</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>
<div class="tarjeta-sans">
	<div class="container-fluid">
		<div class="row">
			<div class="content-habilidades">
              	<div class="text-habilidades"><img class="h-left" src="img//h-left.png" alt="">
                	<h2 class="s-final">Completaste exitosamente el Módulo 2</h2>
                	<h3 class="s-final2">¡Sigamos avanzando!</h3>
              	</div>
        	</div>
		</div>
	</div>
</div>
<footer>
	<div class="row">
		<div class="col-md-4">
			<span class="programa">Programa de Inducción</span>
		</div>
		<div class="col-md-4">
			<a href="autoevaluacion-nuestras-areas-tres.html" class="anterior"><img src="img/arrow-left.png" /></a>
			
		</div>
		<div class="col-md-4">
			<span class="creditos">Alicorp 2017 © Todos los derechos reservados.</span>
		</div>
	</div>
</footer>
</div>
