
<style>
	.wow:first-child {
		visibility: hidden;
	}
</style>
<div class="wrapper areas">
	<header>
		<nav>
			<div class="row">
				<div class="col-md-2">
					<a href="index.html"><img src="img/logo01.png" class="img-responsive logo01" /></a>
				</div>
				<div class="col-md-10">
					<ul class="menu-principal">
						<li class="col-md-2 paddless"><a href="nuestros-negocios.html" class="intro-activo">INTRODUÇÃO</a></li>
						
						<li class="col-md-3 paddless"><a href="nuestros-negocios.html" class="alicorp-activo notClicked">NOSSOS NEGÓCIO</a></li>
					</ul>
					<ul class="menu-secundario">
						<li class="impar paddless col-md-3"><a href="modulo-uno.html" class="quienes-activo quienes-ant">Nossos negócios </a></li><!--
						--><li class="impar paddless col-md-3"><a href="intro-historia.html" class="historia-activo historia-sig historia-ant">Cadeia de valor</a></li><!--
						--><li class="impar paddless col-md-3"><a href="intro-cultura.html" class="cultura-activo cultura-sig cultura-ant">Vantagens competitivas</a></li><!--
						--><li class="impar paddless col-md-3"><a href="intro-areas.html" class="areas-activo areas-sig areas-ant">Auto avaliação</a></li><!--
						-->
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div class=" bg-autoe">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-3">
					<p class="autoeval-info wow animated fedeInLeft" style="animation-delay:0.6s; animation-name:fadeInLeft;">Agora, você enfrentará alguns desafios que reforçarão a sua aprendizagem.</p>

					<h2 class="blanco wow animated fedeInUp" style="animation-delay:1s; animation-name:fadeInUp;">NOSSAS ÁREAS</h2>
					<a href="autoevaluacion-nuestras-areas.html" class="btn btn-default wow animated fedeInUp" style="animation-delay:1s; animation-name:fadeInUp;">REALIZE O DESAFIO</a>
					<div class="clearfix"></div>
					<h2 class="blanco wow animated fedeInUp" style="animation-delay:1.5s; animation-name:fadeInUp;">CADEIA DE VALOR</h2>
					<a href="autoevaluacion-nuestras-areas-tres.html" class="btn btn-default wow animated fedeInUp" style="animation-delay:1.5s; animation-name:fadeInUp;">REALIZE O DESAFIO</a>

				</div>
			</div>		
		</div>
	</div>
	
	<footer>
		<div class="row">
			<div class="col-md-4">
				<span class="programa">PROGRAMA DE INDUÇÃO</span>
			</div>
			<div class="col-md-4">
				<a href="ventajas-competitivas2.html" class="anterior"><img src="img/arrow-left.png" /></a>
				<a href="autoevaluacion-nuestras-areas.html" class="siguiente"><img src="img/arrow-right.png" /></a>
			</div>
			<div class="col-md-4">
				<span class="creditos">Alicorp 2017 © Todos los derechos reservados.</span>
			</div>
		</div>
	</footer>

</div>


<script type="text/javascript">


	var audio = document.getElementById("ae01.mp3");
	if(audio){
		audio.play();
	}
	wow = new WOW(
		{
		animateClass: 'animated',
		offset:       100,
		callback:     function(box) {
			console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
			}
		}
	);
	wow.init();

	jQuery(document).ready(function(){
		document.body.className  = "areas";
	});


</script>

