<table cellpadding="0" cellspacing="0" border="0" width="600" bgcolor="#ffffff" style="border: solid 1px #e7ebea;" align="center">
        <tbody>
            <tr>
                <td>
                    <table cellpadding="0" cellspacing="0" border="0" width="100%" >
                        <tbody>
                            <tr>
                                <td>
                                    <table cellpadding="0" cellspacing="0" width="100%" style="border-bottom: 1px solid #a3a3a3;">
                                        <tbody>
                                            <tr>
                                                <td width="64" height="94" rowspan="2">&nbsp;</td>
                                                <td height="36">&nbsp;</td>
                                                <td width="20" height="94" rowspan="2">&nbsp;</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td valign="top">
                                                    <img src="{{url('images/logo-modal.PNG') }}" border="0" style="display:block;">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <table cellpadding="0" cellspacing="0" width="100%">
                                        <tbody>
                                            <tr>
                                                <td width="64" height="78" rowspan="2">&nbsp;</td>
                                                <td height="41">&nbsp;</td>
                                                <td width="73" height="78" rowspan="2">&nbsp;</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td valign="top">
                                                    <span>
                                                        Estimado, {{ ucwords(strtolower ($user->firstname)) }} {{ ucwords(strtolower ($user->lastname)) }}
                                                    </span>
                                                    <table cellpadding="0" cellspacing="0" width="100%" >
                                                        <tbody>
                                                            <tr>
                                                                <td height="20">&nbsp;</td>                                                           
                                                            </tr>
                                                            <tr>
                                                                <td valign="top" align="justify">
                                                                    <p style="color:#A1A1A1; font-size:14px; font-family:Arial; margin:0px; padding:0px">
                                                                        Tu plan a sido aprobado correctamente verificalo en tu cuenta
                                                                    </p>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                    <p style="line-height:82px; height:82px; margin:0px; padding:0px;"></p>

                                                    <p style="color:#A1A1A1; font-size:14px; font-family:Arial; margin:0px; padding:0px;"> Equipo Mibanco Micrecimiento </p>

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td height="65"></td>
                            </tr>
                            <tr>
                                <td>
                                    <p align="center" style="margin:0px; padding:0px;"><img src="{{url('images/mail-footer.jpg') }}" border="0"></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>

        </tbody>
    </table>