

<style>
	.wow:first-child {
		visibility: hidden;
	}
</style>
<div class="wrapper cultura">
	<header>
		<nav>
			<div class="row">
				<div class="col-md-2">
					<a href="index.html"><img src="img/logo01.png" class="img-responsive logo01" /></a>
				</div>
				<div class="col-md-10">
					<ul class="menu-principal">
						<li class="col-md-2 paddless"><a href="nuestros-negocios.html" class="intro-activo">INTRODUÇÃO</a></li>
						
						<li class="col-md-3 paddless"><a href="nuestros-negocios.html" class="alicorp-activo notClicked">NOSSOS NEGÓCIO</a></li>
						
					</ul>
					<ul class="menu-secundario">
						<li class="impar paddless col-md-3">
							<a href="#" class="quienes-activo quienes-ant notClicked">Nossos negócios </a>
						</li>
						<li class="impar paddless col-md-3">
							<a href="#" class="historia-activo historia-sig historia-ant notClicked">Cadeia de valor</a>
						</li>
						<li class="impar paddless col-md-3">
							<a href="#" class="cultura-activo cultura-sig cultura-ant notClicked">Vantagens competitivas</a>
						</li>
						<li class="impar paddless col-md-3">
							<a href="#" class="areas-activo areas-sig areas-ant notClicked">Auto avaliação</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div class=" ventajas-p">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-5 pd-0 wow animated fadeInLeft" style="animation-delay: 0.5s; animation-name:fadeInLeft; padding: 0 0 0 10px;">
					<img src="img/ventajas/A_A-modulo-2-parte-3-ventajas-competitivas-5.png" alt="">
				</div>
				<div class="col-md-7" style="padding: 70px 0 0 0; ">
					<div class="lista-ventajas wow animated fadeInRight" style="animation-delay:1s; animation-name:fadeInRight;">
						<img class="s-img" src="img/ventajas/A_A-modulo-2-parte-3-ventajas-competitivas-6.jpg" alt="">
						<div class="box-white">
							<ul>

								<li><a href="#" class="notClicked open-modal" 
								data-audio="vc72.mp3" data-img="img/ventajas/1.jpg">VP de Negócios</a></li>

								<li><a href="#" class="notClicked open-modal" data-audio="vc73.mp3" data-img="img/ventajas/2.jpg">VP Corporativa de Supply Chain</a></li>

								<li><a href="#" class="notClicked" data-toggle="modal" data-target="#v-finanzas" > VP Corporativa de Finanças </a></li>

								<li><a href="#" data-audio="vc75.mp3"class="notClicked open-modal" data-img="img/ventajas/5.jpg">VP Corporativa de Matérias-primas</a></li>

								<li><a href="#" data-audio="vc76.mp3" class="notClicked open-modal"  data-toggle="modal" data-target="#v-corporativa"> VP Corporativa de RH</a></li>

								<li><a href="#" data-audio="vc77.mp3" class="notClicked open-modal" data-img="img/ventajas/8.jpg">Direção Corporativa de Eficiências</a></li>

								<li><a href="#" data-audio="vc78.mp3" class="notClicked open-modal" data-img="img/ventajas/9.jpg">Direção Corporativa de Auditoria Interna</a></li>
							</ul>
						</div>

					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" data-backdrop="false" id="v-competitiva" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="opacity: 1 !important;"><img width="25" height="25" src="img/cerrar-rojo.png" /></button>
				<div class="modal-content">
					<div class="modal-body">
						<img id="img-modal" src="img/ventajas/A_A-modulo-2-parte-2-cadena-de-valor-2-estudiamos.jpg" alt="">
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" data-backdrop="false" id="v-finanzas" tabindex="-1" role="dialog" aria-labelledby="myModalLabell">
			<div class="modal-dialog" role="document">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="opacity: 1 !important;"><img width="25" height="25" src="img/cerrar-rojo.png" /></button>
				<div class="modal-content">
					<div class="modal-body">
						<img id="img-modal" src="img/ventajas/3.jpg" alt="">
						<img id="img-modal" src="img/ventajas/4.jpg" alt="">
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" data-backdrop="false" id="v-corporativa" tabindex="-1" role="dialog" aria-labelledby="myModalLabell">
			<div class="modal-dialog" role="document">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="opacity: 1 !important;"><img width="25" height="25" src="img/cerrar-rojo.png" /></button>
				<div class="modal-content">
					<div class="modal-body">
						<img id="img-modal" src="img/ventajas/6.jpg" alt="">
						<img id="img-modal" src="img/ventajas/7.jpg" alt="">
					</div>
				</div>
			</div>
		</div>

	</div>
	<footer>
		<div class="row">
			<div class="col-md-4">
				<span class="programa">PROGRAMA DE INDUÇÃO</span>
			</div>
			<div class="col-md-4">
				<a href="ventajas-competitivas1.html" class="anterior"><img src="img/arrow-left.png" /></a>
				<a href="intro-autoevaluacion.html" class="siguiente"><img src="img/arrow-right.png" /></a>
			</div>
			<div class="col-md-4">
				<span class="creditos">Alicorp 2017 © Todos los derechos reservados.</span>
			</div>
		</div>
	</footer>
</div>

<script type="text/javascript">
	
	function stopAll(){
 		var elmentsAudio = document.getElementsByClassName("audio-item");
 		for (var i = 0; i < elmentsAudio.length; i++) {
           elmentsAudio[i].pause();
           elmentsAudio[i].currentTime = 0;
  		}
 	}
 	var audio = document.getElementById('vc71.mp3');
	
	if(audio){
		audio.play();
	}
	wow = new WOW(
		{
		animateClass: 'animated',
		offset:       100,
		callback:     function(box) {
			console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
			}
		}
	);
	wow.init();

	jQuery(document).ready(function(){
		document.body.className  = "quienes";
	});


	jQuery('.open-modal').on('click',function(event){
		
		var element = jQuery(this);
		var img = jQuery('#img-modal');
			img.attr('src','');	
		var audioModal = element.data('audio');

		if( element.data('img') && element.data('img')!= ''){
			img.attr('src',element.data('img'));
			jQuery('#v-competitiva').modal('show');
		}

		if(audioModal){
			var audioToPlay = document.getElementById(audioModal);
			stopAll();
			audioToPlay.play();
		}
		
	});

	jQuery('#v-corporativa').on('hidden.bs.modal',function(){
		stopAll();	
	});
	jQuery('#v-competitiva').on('hidden.bs.modal', function () {
    	
    	var img = jQuery('#img-modal');
    		img.attr('src','img/A_A-modulo-2-parte-2-cadena-de-valor-2-cargando.png');
    		stopAll();	
	});

	jQuery('#v-finanzas').on('show.bs.modal',function(){
		stopAll();	
		var audio = document.getElementById('vc74.mp3');
		if(audio){
			audio.play();
		}
	});
	jQuery('#v-finanzas').on('hidden.bs.modal', function () {    	
    	stopAll();	
	});

</script>

